.recommendation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font: var(--font-l);
  color: var(--font-color);
  margin: 15px 0;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0;
  border-bottom: 2px solid var(--bg-invert-color);
}
.subtitle {
  font: var(--font-menu);
  color: var(--font-color);
  margin: 10px 0 2px 0;
}
.description {
  font: var(--font-m);
  color: var(--font-color);
  text-align: start;
}
