.section {
  width: 70%;
  height: auto;
  position: relative;
  top: 15%;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}

.items {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.item {
  position: relative;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 5px;
  background: #ece8e8;
  border: 1px solid grey;
  box-sizing: border-box;
}

.content {
  background: #ece8e8;
  height: max-content;
  width: 85%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: black;
  font-size: 12px;
  font-weight: 900;
  text-transform: inherit;
  box-sizing: border-box;
}
.active {
  opacity: 0.3;
  backdrop-filter: blur(2px);
}

.content__active {
  background: #ece8e8;
  height: max-content;
  width: 85%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: black;
  font-size: 12px;
  font-weight: 900;
  text-transform: inherit;
  box-sizing: border-box;
  backdrop-filter: blur(2px);
}

.header {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: 5px 0;
  font-size: 14px;
  font-weight: 700;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
}

.title {
  font-size: 14px;
  font-weight: 700;
}

.description {
  display: flex;
  width: 100%;
  height: max-content;
  max-height: 60px;
  justify-content: center;
  align-items: center;
  padding: 5px 3px;
  overflow: scroll;
}

.btn {
  position: absolute;
  margin: auto;
  top: 0;
  left: 15%;
  width: 150px;
  height: 100%;
  padding: 3px 5px;
  border: 1px solid gray;
  border-radius: 0px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: top 0.1s linear;
  animation: showBtn 1.5s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /*Чтобы элемент оставался в конечном состоянии анимации */
}

@keyframes showBtn {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    /* transform: translate(-50%, -50%); */
  }
}
