.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  align-self: flex-start;
  width: max-content;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
}

.back__icon {
  color: var(--font-color);
}

.back__text {
  display: flex;
  color: var(--font-color);
  font: var(--font-l);
  margin-left: 6px;
}

.details__title {
  font: var(--font-l);
  margin: 50px 0 0 0;
  color: var(--font-color);
}

.details__period {
  font: var(--font-menu);
  margin: 5px 0 0 0;
  color: var(--font-color);
}

.details__description {
  width: 90%;
  font: var(--font-m);
  color: var(--font-color);
  text-align: justify;
  margin: 10px 0 0 0;
}

.details__subtitle {
  font: var(--font-menu);
  margin: 30px 0 10px 0;
  color: var(--font-color);
}

.details__btn {
  outline: none;
  background: none;
  font: var(--font-menu);
  color: var(--font-color);
  border: var( --border-main);
  border-radius: 6px;
  padding: 10px 15px;
  margin: 20px 0;
  cursor: pointer;
}

.details__help {
  width: 90%;
  padding: 3px 3px;
  font: var(--font-submenu);
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.details__link {
  color: var(--color-white);
}
/* */
/* .plan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.plan__title {
  display: flex;
  justify-content: center;
  width: max-content;
  font: var(--font-l);
  color: var(--color-white);
  margin: 50px 0 10px 0;
  padding: 10px 45px;
  background-color: var(--color-gray-dark);
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.plan__header {
  width: 90%;
  height: 50px;
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  font: var(--font-menu);
  display: grid;
  grid-template-columns: 35px 45px 1fr 2fr;
  justify-content: center;
}
.plan__header_number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color-white);
}
.plan__header_day {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color-white);
}
.plan__header_title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color-white);
}
.plan__header_descr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan__days {
  list-style-type: none;
  padding: 0;
  width: 90%;
  height: auto;
  background-color: var(--color-gray-light);
  color: var(--color-black);
  font: var(--font-m);
}

.plan__day {
  width: 100%;
  height: max-content;
  min-height: 35px;
  display: grid;
  grid-template-columns: 35px 45px 1fr 2fr;
  justify-content: center;
}

.plan__day_number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color-white);
  border-bottom: 2px solid var(--color-white);
}

.plan__day_day {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color-white);
  border-bottom: 2px solid var(--color-white);
}

.plan__day_title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color-white);
  border-bottom: 2px solid var(--color-white);
}

.plan__day_descr {
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid var(--color-white);
}

@media screen and (max-width: 700px) {

  .plan__header {
  
    font: var(--font-submenu);
    display: grid;
    grid-template-columns: 35px 45px 1fr 2fr;
    justify-content: center;
  }
  .plan__day {
    font: var(--font-m);
    grid-template-columns: 35px 45px 1fr 2fr;
  }

  .plan__day_descr {
    line-height: 1.3;
    text-align: left;
    font-size: 12px;
    padding: 2px 2px;
    overflow: scroll;
  }

  .plan__day_title {
    line-height: 1.3;
    font-size: 12px;
    padding: 3px 3px;
    overflow: hidden;
  }
}
